h1 {
  text-align: center;
}
p {
  text-align: center;
  padding-bottom: 20px;
}

.wiki-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 50px;
  margin-bottom: 40px;
}
form {
  padding-top: 20px;
}
.search-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 10px;
  border-width: 1px;
  border-color: blue;
}
button {
  background-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  color: blue;
  font-weight: bold;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.footer{
  width: 65%;
  display: flex;
  margin-left: 250px;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
}
.tab {
  float: left;
  position: relative;
  width: 33%;
  height: 90px;
  height: 9rem;
}
.tablink {
  display: inline-block;
  min-height: 50px;
  width: 90%;
  padding: 1em;
  white-space: nowrap;
}

.tablink:hover {
  background-color: #eaecf0;
}

a.tablink {
  text-decoration: none;
}

.tabtext,
.tab {
  display: inline-block;
}

.tabtext {
  max-width: 65%;
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: middle;
  white-space: normal;
}

.tabtagline,
.tabtitle {
  display: block;
}

.tabtagline {
  color: #54595d;
  font-size: 13px;
  font-size: 1.3rem;
}
.central-featured {
  position: relative;
  height: 325px;
  height: 32.5rem;
  width: 546px;
  width: 54.6rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.roundedlang {
  position: absolute;
  width: 156px;
  width: 15.6rem;
}

.roundedlang .link-box {
  display: block;
  padding: 0;
  text-decoration: none;
  white-space: normal;
}

.roundedlang .link-box:hover strong {
  text-decoration: underline;
}

.roundedlang :hover {
  background-color: #eaecf0;
}

.roundedlang strong {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
}

.roundedlang small {
  color: #54595d;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.6;
}

.roundedlang em {
  font-style: italic;
}

.roundedlang .emNonItalicLang {
  font-style: normal;
}

.lang1 {
  top: 0;
  right: 60%;
}

.lang2 {
  top: 0;
  left: 60%;
}

.lang3 {
  top: 20%;
  right: 70%;
}

.lang4 {
  top: 20%;
  left: 70%;
}

.lang5 {
  top: 40%;
  right: 72%;
}

.lang6 {
  top: 40%;
  left: 72%;
}

.lang7 {
  top: 60%;
  right: 70%;
}

.lang8 {
  top: 60%;
  left: 70%;
}

.lang9 {
  top: 80%;
  right: 60%;
}

.lang10 {
  top: 80%;
  left: 60%;
}

@media (max-width: 480px) {
  .central-featured {
    width: auto;
    height: auto;
    margin-top: 8rem;
    font-size: 13px;
    font-size: 1.3rem;
    text-align: left;
  }

  .central-featured:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
  }

  .roundedlang {
    display: block;
    float: left;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 64px;
    height: 6.4rem;
    width: 33%;
    margin: 0 0 16px;
    padding: 0 1.6rem;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: center;
  }

  .roundedlang strong {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .roundedlang small {
    line-height: 1.4;
  }
}

@media (max-width: 375px) {
  .roundedlang {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

@media (max-width: 240px) {
  .roundedlang {
    width: 100%;
  }
}
.roundedlogo {
  position: absolute;
  top: 158px;
  left: 35px;
}
.rounded {
  position: relative;
  margin: 4rem auto 0.5rem;
  width: 270px;
}